@model IEnumerable<MovieTrackingWebsite.Models.Review>

@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Back To Movie", "MovieInfo", "PublicMovies", new { id = Model.FirstOrDefault().PublicMovieId }, null)
</p>
<table class="table">
    <tr>
        <bold>
            All Comments
        </bold>
    </tr>
    <hr />

    @foreach (var item in Model)
    {
        <tr>
            <hr />

            <h4>
                @Html.DisplayFor(modelItem => item.ReviewScore)/100
            </h4>

            <div style="white-space: pre-line;">
                @Html.DisplayFor(modelItem => item.Comment)
            </div>
            @if (item.UserId == User.Identity.GetUserId())
            {
                <div>
                    <a href='@Url.Action("Edit", "Reviews", new { id = item.ReviewId }, null)' class="btn btn-primary">Edit</a>
                    <a href='@Url.Action("Delete", "Reviews", new { id = item.ReviewId }, null)' class="btn btn-danger">Delete</a>
                </div>
            }

            <hr />
        </tr>
    }

</table>
